*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .carousel {
    width: 100%;
    height: 600px;
    height: 100vh;
    background: red;
    display: flex;
    overflow: hidden;
  }
  .slide {
    min-width: 100px;
    width: 20%;
    /*width: 100px;*/
    height: 100%;
    background-color: bisque;
    transition: flex-grow 0.3s ease-out;
    cursor: pointer;
  }
  .slide a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .disable {
    pointer-events: none;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slide-active {
    flex-grow: 1;
  }
  
  @media (max-width: 800px) {
    .carousel {
        height: 30vh;
    }
    .slide {
      width: 100%;
    }
    .slide:not(:nth-of-type(3)) {
        border-right: 1px solid black;

    }
    .slide img {
        object-fit: contain;
    }
  }